$calculator-color: rgb(121, 121, 121);
$key-color: rgb(222, 220, 220);

body {
    font-size: 28px;
    color: white;
    background-color: green;
    height: 100vh;
}

.display {
    height: 20vh;
    background-color: black;
    border-radius: 20px;
    margin: 2rem 1rem 2rem 1rem;

    input {
        font-size: 15vh;
        color: white;
        padding: 1rem 1rem 0 1rem;
        background-color: transparent;
        text-align: right;
    }

}

.calculator {
    border: solid black 2px;
    background-color: $calculator-color;
    margin: 1rem;

}

.key {
    border-radius: 50px;
    border: 1px solid #d9d8d8;
    background-color: $key-color;
    font-size: 1.25rem;
    text-align: center;
    padding: .75em .75em .75em .75em;
}

@media (max-width: 575px) {
    .key {
        margin: 2rem .5rem 2rem .5rem;
        font-size: 1rem;
    }

    .keys {
        margin-top: 5rem;
        height: 70vh;
    }

    .calculator {
        height: 100%;
        min-width: 100%;
        margin: 0;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .key {
        margin: 2rem .5rem 2rem .5rem;
        font-size: 1rem;
    }

    .keys {
        margin-top: 5rem;
        height: 70vh;
    }

    .calculator {
        height: 100%;
        margin: 0;
        min-width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    @media (min-width: 576px) {
        .key {
            margin: 2rem .5rem 2rem .5rem;
            font-size: 1rem;
        }

        .keys {
            margin-top: 5rem;
            height: 70vh;
        }

        .calculator {
            height: 100%;
            margin: 0;
            width: 100%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .display {
        height: 30vh;
        margin-bottom: 1rem8;
    }

    .keys {
        margin-top: 1rem;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}