.display {
    justify-content: right;
    height: 40vh;
    background-color: black;
    border-radius: 10px;
    margin: 1rem 1rem 3rem 1rem;
}

.calculator {
    border: solid black 2px;
    // margin: 2em;
}

.key {
    margin-bottom: 1rem;
    border-radius: 30px;
    border: 1px solid #d9d8d8;
    background: transparent;
    padding: 1rem;
    font-size: large;
    text-align: center;

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {
        height: 100vh;
    }

    #calculator {
        height: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}